/***************************           Container           *******************************/
.container{
    margin:50px;
}

/***************************           Search          *******************************/

.searchBar{
    
    border: 5px solid #D4AF37 !important;
width:96%;
margin:20px;
padding:10px;
border-radius: 4px;
}