@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body {
  font-family: "Montserrat";
  background-color: #f8f9fa !important;
}


.h2 {
  color:#D4AF37;
  margin: 2rem 0 .5rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.h3 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.img {
  display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.p {
    color:#D4AF37;
    margin: 2rem 0 .5rem;
    font-size: 1rem;
    font-weight: 500;
}
